@media all and (min-width: 480px) {
  .Login {
    padding-top: 13%;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    height: unset !important;

  }
}


.Login form {

  border: 1px solid white;
  padding:15px;
  border-radius: 5px;
  background-color: white;
  height:100%

}

#logofull {
  width: 100%;
}

#loginmessage {
  text-align: center;
  color:red;
  padding-top:10px;
}
/*
#loginContainer{
  background: url('/Components/Login/Img/ieo_fb_ground2.jpg') no-repeat;
} */
